*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
  }
  .nav_style{
    background-color: #74a14e;
  }

  .nav_style a {
    color: white;
  }

  .main_header {
    height: 450px;
    width: 100%;
  }
  
  .rightside h1{
    font-size: 3rem;
  }

  .corona_rotate {
    padding: 5px;
  }

  .corona_rotate img{
    animation: gocorona 3s linear infinite;

  }

  @keyframes gocorona {
    0% { transform: rotate(0);}
    100% { transform: rotate(360deg);}
  }

  .leftside img{
    animation: heartbeat 5s linear infinite;

  }

  .update-text{
    margin-bottom: 3rem!important;
  }

  .ml-5{
    margin-left: 0!important;

  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(.75);
    }
    100% {
      transform: scale(.75);
    }
  }

  .corona_update {
    margin: 0 0 30px 0;
  }

  .corona_update h3 {
    color: #3d8881;
  }

  .corona_update h1 {
    font-size: 2rem;
    text-align: center;
  }

  .img-fluid {
    border-radius: 10px;
    min-height: 120px;
  }

  .sub_section{
    background-color: #fbfdfa;
  }
  .about-text p{
    text-align: justify;
  }

  .help-text{
    font-weight: bolder;
  }

  @media (max-height: 823px) and (max-width: 768px) {
    .corona_update {
      margin-top: 84%;
  }
 }